.bodyTable {
  text-align: center;
  background-color: white;
  outline: 1px solid black;

  td {
    outline: 1px solid black;
    text-align: left;
    padding: 20px;
  }

  td:hover {
    outline: inherit;
  }

  p {
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    margin: 0px;
  }

  .complaints {
    min-width: 300px;
    width: 45%;
  }
}

.icons, .icons:hover {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  outline: none;
  height: calc(100% - 40px);
  margin-top: 0px;

}

.icons:hover {
  cursor: pointer;
}