.bodyTable {
  text-align: center;
  background-color: white;
  outline: 1px solid black;

  td {
    outline: 1px solid black;
    text-align: left;
    padding: 20px;
  }

  td:hover {
    height: 120px;
  }

  input {
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    width: 100%;
    align-items: flex-start;
  }

  input:disabled {
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    width: 100%;
    align-items: flex-start;
  }

  textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    resize: none;
    display: block;
    height: 100%;
  }

  textarea:disabled {
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: block;
    height: 100%;
  }
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  height: calc(100% - 40px);
}