.delete-header {
  width: 552px;
  height: 70px;
  padding-bottom: 20px;
}

.delete-section {
  width: 552px;
  height: 80px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.delete {
  background-color: rgba(197, 233, 255, 0.72);
  cursor: pointer;
  margin-right: 20px;
}