.MainPageInputs {
  background: #C5E9FF;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;

    @media screen and (max-width: 990px) {
      width: 95%;
    }
  }

  .inputDiv {
    height: fit-content;
    margin: 10px 20px;
    height: 95px;

    @media screen and (max-width: 532px) {
      height: 62px;
      width: 90%;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 21px;
      margin: 10px;

      @media screen and (max-width: 532px) {
        font-size: 15px;
      }
    }

    input {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      width: 200px;
      height: 50px;
      font-size: 21px;
      padding-left: 10px;

      @media screen and (max-width: 532px) {
        width: 100%;
        height: 40px;
        font-size: 18px;
        padding-left: 8px;
      }
    }

    select {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      width: 200px;
      height: 50px;
      font-size: 20px;
      padding-left: 10px;

      @media screen and (max-width: 532px) {
        width: 100%;
        height: 40px;
        font-size: 18px;
        padding-left: 8px;
      }
    }
  }

  .buttons {
    height: 120px;
    width: 240px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 532px) {
      height: 80px;
    }

    button{
      width: 140px;
      height: 50px;
      margin: 10px 20px 10px 20px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      position: relative;
      top: 43px;
      font-weight: 300;
      font-size: 18px;
      margin-left: 20px;

      @media screen and (max-width: 532px) {
        margin: 5px 20px 5px 20px;
        width: 140px;
        height: 40px;
        font-weight: 300;
        font-size: 15px;
        top: 20px;
      }
    }
  }
}