.sort-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 500px) {
    justify-content: center;
  }
  
  @media screen and (max-width: 532px) {
    height: 75px;
  }

  select {
    margin: 15px 20px 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 200px;
    height: 47px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;


    @media screen and (max-width: 532px) {
      font-size: 16px;
      height: 37px;
    }

    @media screen and (max-width: 500px) {
      justify-content: center;
      margin-right: 0;
      margin-left: 5px;
    }

    @media screen and (max-width: 375px) {
      font-size: 14px;
      height: 35px;
    }
  }

  label{
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    @media screen and (max-width: 532px) {
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
    }

    @media screen and (max-width: 375px) {
      font-size: 14px;
    }
  }
}