.Header {
  position: block;
  display: flex;
  background: #C5E9FF;
  width: 100%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.6rem;
  height: 117px;
  z-index: 5;

  div {
    display:flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;

    @media screen and (max-width: 500px) {
      width: 100%;
      justify-content: space-around;
    }
  }

  svg {
    margin: 22px 7% 20px 4%;

    @media screen and (max-width: 820px) {
      margin: 22px 4% 5% 4%;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  p { 
    @media screen and (max-width: 820px) {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  
    @media screen and (max-width: 640px) {
      font-size: 1.7rem;
      line-height: 1.8rem;
    }

    @media screen and (max-width: 570px) {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    @media screen and (max-width: 500px) {
      text-align:center;
    }

    @media screen and (max-width: 340px) {
      text-align:center;
    }
  }

  button {
    justify-self: flex-end;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    height: 70px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: white;

    @media screen and (max-width: 820px) {
      font-size: 20px;
      line-height: 24px;
      height: 60px;
      width: 120px;
    }
  
    @media screen and (max-width: 640px) {
      font-size: 18px;
      line-height: 22px;
      height: 55px;
      width: 110px;
    }
  
    @media screen and (max-width: 570px) {
      font-size: 16px;
      line-height: 20px;
      height: 50px;
      width: 100px;
    }
  
    @media screen and (max-width: 500px) {
      height: 40px;
      width: 75px;
    }
  
    @media screen and (max-width: 340px) {
      text-align:center;
    }
  }

  button:hover {
    cursor: pointer;
  }
}
